body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.waffle {
    list-style: none outside none;
    padding: 1em;
    position: relative;
}

.waffle li {
    cursor: default;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

.waffle li:hover {
    cursor: move;
}

.transparent {
    opacity: 0.5;
}

.moving {
    opacity: 1;
    top: 10px;
}

