body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}



.waffle-list {
    list-style: none outside none;
    padding: 1em;
    position: relative;
    width: 30em;
}

.waffle-list li {
    cursor: default;
    padding: 1em;
    margin-bottom: 1em;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.waffle-list li:hover {
    cursor: pointer;
}

